@font-face {
  font-family: Optimus-Princeps;
  src: url(/src/Optimus-Princeps-Font/OptimusPrinceps.ttf);
}
body {
  font-family: 'Optimus-Princeps';
  display: flex;
  background-image: url(/src/490274.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed
}
h1 {
  font-size: 50px;
}

.form {
  color: black;
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 500px;
  height: 500px;
  padding: 30px 30px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgba(10,23,55,0.6);
}

.form-and-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.preview-card {
  color: black;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 500px;
  padding: 10px 10px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgba(10,23,55,0.6);
  margin: 10px 10px;
}
.preview-card img {
  height: 200px;
  border-radius: 5px;
}

.preview-card .description {
  font-size: 15px;
}
.ready-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
button {
  background-color: #555555;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 5px;
  padding: 5px 5px;
}